[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	branch = master
[submodule "zsh/custom/plugins/alias-tips"]
	path = zsh/custom/plugins/alias-tips
	url = git@github.com:djui/alias-tips.git
	branch = master
[submodule "zsh/custom/plugins/zsh-completions"]
	path = zsh/custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
	branch = master
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
	branch = master
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
[submodule "zsh/custom/plugins/zsh-vim-mode"]
	path = zsh/custom/plugins/zsh-vim-mode
	url = git@github.com:softmoth/zsh-vim-mode.git
	branch = master
